*{
  box-sizing: border-box;
}
body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

base-app::part(micro-app-var) {
  max-height: 800px !important; /* 设置最大高度为 800px */
}

:root {
  --mirco-app-max-height: calc(100*5/6vh);
}
